<div class="bottom-nav-content">
    <NavLink href="/remote" class="bottom-nav-item">
        <MudIcon Icon="@Icons.Material.Filled.SettingsRemote" />
        <div class="nav-label">Remote</div>
    </NavLink>
    <NavLink href="/devices" class="bottom-nav-item">
        <MudIcon Icon="@Icons.Material.Filled.Devices" />
        <div class="nav-label">Devices</div>
    </NavLink>
    <NavLink href="/usb-remotes" class="bottom-nav-item">
        <MudIcon Icon="@Icons.Material.Filled.Usb" />
        <div class="nav-label">USB</div>
    </NavLink>
    <NavLink href="/activities" class="bottom-nav-item">
        <MudIcon Icon="@Icons.Material.Filled.PlayArrow" />
        <div class="nav-label">Activities</div>
    </NavLink>
    <NavLink href="/settings" class="bottom-nav-item">
        <MudIcon Icon="@Icons.Material.Filled.Settings" />
        <div class="nav-label">Settings</div>
    </NavLink>
</div>