@page "/AddBluetoothDevice"
@using Microsoft.Extensions.Logging
@using Zapper.Core.Bluetooth
@inject ILogger<AddBluetoothDevice> _logger
@inject IBluetoothConnection _bluetoothConnection;

<h2>Add Bluetooth Device</h2>
<div class="row">
    <div class="col-12">
        <ScannerButton OnScanStartAsync="StartScanning" OnScanStop="StopScanning" ScanText="Scan for Bluetooth Devices"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-12 pre-scrollable">
        <ButtonList @bind-SelectedItem="_selectedDevice" Items="_devices.OrderByDescending(d => d.Name?.Length)">
            <ButtonTemplate Context="device">
                @device.Name
                @device.Address
                @device.Alias
                @device.Icon
                @device.Modalias
                @device.AddressType
            </ButtonTemplate>
        </ButtonList>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-12">
        @if (_selectedDevice != null)
        {
            <button class="btn btn-primary" @onclick="Connect">Connect to Device</button>   
        }
    </div>
</div>