@using Microsoft.Extensions.Logging
@using HashtagChris.DotNetBlueZ
@using HashtagChris.DotNetBlueZ.Extensions
@using Zapper.Core.Bluetooth
@inject ILogger<ConfigureBluetoothDevice> _logger;
@inject IBluetoothConnection _bluetoothConnection;

<h3>Configure Bluetooth</h3>
<div class="row">
    <div class="col-12">
        <ScannerButton OnScanStartAsync="StartScanning" OnScanStop="StopScanning" ScanText="Scan for Bluetooth Devices"/>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="list-of-buttons btn-group-vertical">
            @foreach (var device in _devices)
            {
                <button class="btn btn-outline-secondary">
                    @device.Name
                    @device.Address
                    @device.Alias
                    @device.Icon
                    @device.Modalias
                    @device.AddressType
                </button>
            }
        </div>
    </div>
</div>

@code {

    private List<BluetoothDeviceFoundEvent> _devices = new();

    private async Task StartScanning()
    {
        try
        {
            _bluetoothConnection.OnBluetoothDeviceFound += FoundBluetoothDevice;
            await _bluetoothConnection.Start();
            await _bluetoothConnection.ScanForDevices();
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error occurred while scanning for bluetooth devices");
        }
    }

    private void StopScanning()
    {
        try
        {
            _bluetoothConnection.OnBluetoothDeviceFound -= FoundBluetoothDevice;
            _bluetoothConnection.Stop();
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error occurred while stopping the scan of bluetooth devices");
        }
    }

    private void FoundBluetoothDevice(BluetoothDeviceFoundEvent e)
    {
        try
        {
            _devices.Add(e);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error occurred when processing found bluetooth device event");
        }
    }

}